In [40]:
import numpy as np
import pandas as pd
import json
import os
import urllib.request
from tqdm import tqdm_notebook

In [39]:
annotation_path = os.path.join('Data/data_annotation.csv')
train_folder = os.path.join('train')

In [30]:
annotation = pd.read_csv(annotation_path)
annotation.head()

,content,annotation/0/label/0,annotation/0/notes,annotation/0/points/0/x,annotation/0/points/0/y,annotation/0/points/1/x,annotation/0/points/1/y,annotation/0/imageWidth,annotation/0/imageHeight,extras,annotation/1/label/0,annotation/1/notes,annotation/1/points/0/x,annotation/1/points/0/y,annotation/1/points/1/x,annotation/1/points/1/y,annotation/1/imageWidth,annotation/1/imageHeight
0,http://com.dataturks.a96-i23.open.s3.amazonaws...,Tops,NaN,0.020408,0.253205,0.993197,0.810897,147,312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,http://com.dataturks.a96-i23.open.s3.amazonaws...,Jackets,NaN,0.092437,0.205128,0.957983,0.657051,119,312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://com.dataturks.a96-i23.open.s3.amazonaws...,Jackets,NaN,0.005988,0.221154,0.994012,0.862179,167,312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,http://com.dataturks.a96-i23.open.s3.amazonaws...,Tshirts,NaN,0.017964,0.272436,0.994012,0.977564,167,312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,http://com.dataturks.a96-i23.open.s3.amazonaws...,Jackets,NaN,0.011236,0.217949,0.994382,0.900641,178,312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
annotation = annotation.rename(columns={'annotation/0/label/0': 'class', 'annotation/0/points/0/x': 'xmin',
                                       'annotation/0/points/0/y': 'ymin', 'annotation/0/points/1/x': 'xmax',
                                       'annotation/0/points/1/y': 'ymax', 'annotation/0/imageWidth': 'width',
                                       'annotation/0/imageHeight': 'height'})
annotation.head()

,content,class,annotation/0/notes,xmin,ymin,xmax,ymax,width,height,extras,annotation/1/label/0,annotation/1/notes,annotation/1/points/0/x,annotation/1/points/0/y,annotation/1/points/1/x,annotation/1/points/1/y,annotation/1/imageWidth,annotation/1/imageHeight
0,http://com.dataturks.a96-i23.open.s3.amazonaws...,Tops,NaN,0.020408,0.253205,0.993197,0.810897,147,312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,http://com.dataturks.a96-i23.open.s3.amazonaws...,Jackets,NaN,0.092437,0.205128,0.957983,0.657051,119,312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://com.dataturks.a96-i23.open.s3.amazonaws...,Jackets,NaN,0.005988,0.221154,0.994012,0.862179,167,312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,http://com.dataturks.a96-i23.open.s3.amazonaws...,Tshirts,NaN,0.017964,0.272436,0.994012,0.977564,167,312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,http://com.dataturks.a96-i23.open.s3.amazonaws...,Jackets,NaN,0.011236,0.217949,0.994382,0.900641,178,312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
used_cols = ['content', 'class', 'xmin', 'ymin', 'xmax', 'ymax', 'width', 'height']
non_used_cols = set(annotation.columns) - set(used_cols)

annotation = annotation.drop(non_used_cols, axis=1)
annotation.head()

,content,class,xmin,ymin,xmax,ymax,width,height
0,http://com.dataturks.a96-i23.open.s3.amazonaws...,Tops,0.020408,0.253205,0.993197,0.810897,147,312
1,http://com.dataturks.a96-i23.open.s3.amazonaws...,Jackets,0.092437,0.205128,0.957983,0.657051,119,312
2,http://com.dataturks.a96-i23.open.s3.amazonaws...,Jackets,0.005988,0.221154,0.994012,0.862179,167,312
3,http://com.dataturks.a96-i23.open.s3.amazonaws...,Tshirts,0.017964,0.272436,0.994012,0.977564,167,312
4,http://com.dataturks.a96-i23.open.s3.amazonaws...,Jackets,0.011236,0.217949,0.994382,0.900641,178,312

In [38]:
annotation.content[0].split('/')[-1]

'4bb8fd9d-8d52-46c7-aa2a-9c18af10aed6___Data_xxl-top-4437-jolliy-original-imaekasxahykhd3t.jpeg'

In [41]:
for img_url_ind in tqdm_notebook(range(len(annotation.content)), desc='NUMBER OF DOWNLOADED IMAGES'):
    img_url = annotation.content[img_url_ind]
    
    img_name = img_url.split('/')[-1]
    
    urllib.request.urlretrieve(img_url, os.path.join(train_folder, img_name))

HBox(children=(IntProgress(value=0, description='NUMBER OF DOWNLOADED IMAGES', max=504, style=ProgressStyle(de…

# PREPARE ANNOTATION

In [43]:
res_names = []
for name in annotation.content:

    name = name.split('/')[-1]
    res_names.append(name)
    
annotation['filename'] = res_names

In [45]:
annotation = annotation.drop('content', axis=1)
annotation.head()

,class,xmin,ymin,xmax,ymax,width,height,filename
0,Tops,0.020408,0.253205,0.993197,0.810897,147,312,4bb8fd9d-8d52-46c7-aa2a-9c18af10aed6___Data_xx...
1,Jackets,0.092437,0.205128,0.957983,0.657051,119,312,b607a69c-600f-4cc3-8df0-f93a006c5f6f___Data_yc...
2,Jackets,0.005988,0.221154,0.994012,0.862179,167,312,eccdfe00-2e05-4a97-8c3d-1ccb7cbaee7d___Data_xx...
3,Tshirts,0.017964,0.272436,0.994012,0.977564,167,312,cc24460b-10f0-4f9b-940c-7bb0b4116964___Data_xx...
4,Jackets,0.011236,0.217949,0.994382,0.900641,178,312,a21a3486-a630-41ec-abb7-fc391b233d69___Data_xx...

In [70]:
annotation['xmin'] = annotation['xmin'] * annotation['width']
annotation['xmax'] = annotation['xmax'] * annotation['width']

annotation['ymin'] = annotation['ymin'] * annotation['height']
annotation['ymax'] = annotation['ymax'] * annotation['height']

In [71]:
annotation

,class,xmin,ymin,xmax,ymax,width,height,filename
0,Tops,3.0,79.0,146.0,253.0,147,312,4bb8fd9d-8d52-46c7-aa2a-9c18af10aed6___Data_xx...
1,Jackets,11.0,64.0,114.0,205.0,119,312,b607a69c-600f-4cc3-8df0-f93a006c5f6f___Data_yc...
2,Jackets,1.0,69.0,166.0,269.0,167,312,eccdfe00-2e05-4a97-8c3d-1ccb7cbaee7d___Data_xx...
3,Tshirts,3.0,85.0,166.0,305.0,167,312,cc24460b-10f0-4f9b-940c-7bb0b4116964___Data_xx...
4,Jackets,2.0,68.0,177.0,281.0,178,312,a21a3486-a630-41ec-abb7-fc391b233d69___Data_xx...
...,...,...,...,...,...,...,...,...
499,Trousers,37.0,8.0,156.0,287.0,175,312,e5d2d59e-7c19-43ac-9741-4bad9259097d___Data_32...
500,Trousers,41.0,11.0,141.0,276.0,155,312,34ee6c87-a390-41be-b64c-b446f11dfeb4___Data_32...
501,Jeans,24.0,5.0,153.0,276.0,162,312,a4e771bd-8e74-469f-b5a4-bbe4f849836c___Data_32...
502,Jeans,19.0,7.0,140.0,277.0,154,312,fd844d1d-9919-4d8d-9944-06717f65ccec___Data_32...
503,Trousers,29.0,4.0,160.0,288.0,169,312,d3cb0af8-86fd-4952-8d53-bed20a9ae3be___Data_32...

In [72]:
annotation.to_csv('annotation.csv', index=False, index_label=False)

In [62]:
imgs = [f'train/{i}' for i in os.listdir('train')]

In [64]:
import cv2

for i in imgs:
    img = cv2.imread(i)
    print(img.shape)

(153, 312, 3)
(312, 168, 3)
(312, 177, 3)
(312, 208, 3)
(312, 234, 3)
(312, 168, 3)
(650, 500, 3)
(153, 312, 3)
(220, 169, 3)
(312, 135, 3)
(312, 193, 3)
(312, 133, 3)
(211, 312, 3)
(137, 312, 3)
(196, 170, 3)
(312, 231, 3)
(312, 175, 3)
(312, 153, 3)
(210, 312, 3)
(312, 157, 3)
(260, 312, 3)
(197, 312, 3)
(196, 312, 3)
(312, 174, 3)
(312, 145, 3)
(312, 175, 3)
(312, 130, 3)
(312, 181, 3)
(203, 312, 3)
(312, 138, 3)
(312, 185, 3)
(312, 198, 3)
(312, 175, 3)
(312, 129, 3)
(220, 165, 3)
(312, 196, 3)
(310, 312, 3)
(150, 312, 3)
(312, 168, 3)
(312, 234, 3)
(260, 200, 3)
(312, 155, 3)
(202, 312, 3)
(312, 154, 3)
(288, 312, 3)
(220, 169, 3)
(260, 200, 3)
(312, 245, 3)
(312, 275, 3)
(220, 169, 3)
(312, 176, 3)
(312, 148, 3)
(218, 312, 3)
(312, 262, 3)
(312, 245, 3)
(312, 186, 3)
(312, 169, 3)
(312, 143, 3)
(312, 154, 3)
(312, 183, 3)
(312, 186, 3)
(312, 217, 3)
(312, 167, 3)
(134, 312, 3)
(200, 200, 3)
(302, 312, 3)
(312, 208, 3)
(216, 312, 3)
(312, 218, 3)
(312, 200, 3)
(312, 192, 3)
(312, 166, 3)
(312, 141, 3)
(312, 165, 3)
(312, 158, 3)
(200, 200, 3)
(312, 185, 3)
(312, 150, 3)
(259, 312, 3)
(260, 200, 3)
(155, 312, 3)
(147, 312, 3)
(312, 160, 3)
(312, 172, 3)
(312, 213, 3)
(312, 138, 3)
(312, 155, 3)
(312, 155, 3)
(312, 173, 3)
(260, 200, 3)
(199, 170, 3)
(312, 186, 3)
(187, 312, 3)
(312, 174, 3)
(142, 312, 3)
(312, 155, 3)
(232, 312, 3)
(312, 220, 3)
(260, 200, 3)
(220, 169, 3)
(227, 312, 3)
(200, 312, 3)
(312, 174, 3)
(213, 312, 3)
(156, 312, 3)
(200, 200, 3)
(500, 500, 3)
(312, 172, 3)
(200, 200, 3)
(501, 385, 3)
(280, 312, 3)
(312, 178, 3)
(220, 161, 3)
(312, 172, 3)
(200, 200, 3)
(172, 312, 3)
(260, 312, 3)
(220, 165, 3)
(170, 170, 3)
(312, 164, 3)
(312, 154, 3)
(173, 312, 3)
(312, 140, 3)
(271, 312, 3)
(312, 214, 3)
(126, 312, 3)
(312, 183, 3)
(501, 385, 3)
(312, 161, 3)
(148, 312, 3)
(312, 177, 3)
(200, 200, 3)
(312, 174, 3)
(312, 199, 3)
(312, 137, 3)
(200, 200, 3)
(220, 169, 3)
(312, 156, 3)
(312, 173, 3)
(312, 175, 3)
(312, 214, 3)
(312, 159, 3)
(260, 200, 3)
(312, 234, 3)
(312, 147, 3)
(312, 245, 3)
(255, 312, 3)
(312, 245, 3)
(312, 234, 3)
(220, 169, 3)
(151, 312, 3)
(312, 170, 3)
(312, 173, 3)
(312, 234, 3)
(175, 312, 3)
(312, 136, 3)
(150, 312, 3)
(154, 312, 3)
(312, 183, 3)
(312, 180, 3)
(312, 252, 3)
(200, 200, 3)
(312, 137, 3)
(312, 168, 3)
(312, 145, 3)
(312, 213, 3)
(312, 188, 3)
(312, 193, 3)
(312, 211, 3)
(312, 150, 3)
(312, 157, 3)
(263, 312, 3)
(200, 200, 3)
(312, 155, 3)
(312, 160, 3)
(177, 312, 3)
(138, 312, 3)
(132, 312, 3)
(260, 200, 3)
(312, 120, 3)
(312, 156, 3)
(312, 156, 3)
(260, 200, 3)
(312, 151, 3)
(312, 179, 3)
(312, 169, 3)
(312, 221, 3)
(200, 200, 3)
(260, 200, 3)
(312, 153, 3)
(312, 144, 3)
(312, 154, 3)
(154, 312, 3)
(220, 161, 3)
(312, 151, 3)
(312, 163, 3)
(312, 171, 3)
(207, 312, 3)
(312, 254, 3)
(200, 200, 3)
(312, 164, 3)
(312, 149, 3)
(312, 185, 3)
(312, 146, 3)
(312, 151, 3)
(312, 161, 3)
(196, 312, 3)
(184, 312, 3)
(312, 153, 3)
(312, 150, 3)
(136, 312, 3)
(112, 312, 3)
(312, 154, 3)
(312, 234, 3)
(312, 288, 3)
(312, 169, 3)
(312, 144, 3)
(312, 267, 3)
(312, 223, 3)
(312, 131, 3)
(312, 173, 3)
(155, 312, 3)
(204, 312, 3)
(312, 148, 3)
(312, 155, 3)
(312, 208, 3)
(312, 238, 3)
(312, 145, 3)
(312, 181, 3)
(312, 253, 3)
(312, 188, 3)
(312, 190, 3)
(312, 261, 3)
(312, 202, 3)
(312, 182, 3)
(312, 157, 3)
(312, 281, 3)
(312, 250, 3)
(216, 170, 3)
(312, 169, 3)
(312, 175, 3)
(200, 200, 3)
(312, 179, 3)
(501, 385, 3)
(312, 219, 3)
(175, 312, 3)
(312, 250, 3)
(260, 200, 3)
(312, 151, 3)
(312, 284, 3)
(201, 312, 3)
(312, 177, 3)
(312, 187, 3)
(312, 203, 3)
(312, 177, 3)
(312, 108, 3)
(186, 312, 3)
(312, 188, 3)
(312, 187, 3)
(312, 208, 3)
(312, 208, 3)
(170, 170, 3)
(312, 168, 3)
(312, 168, 3)
(146, 312, 3)
(312, 296, 3)
(312, 166, 3)
(260, 200, 3)
(190, 312, 3)
(312, 146, 3)
(312, 145, 3)
(312, 164, 3)
(312, 248, 3)
(312, 170, 3)
(312, 180, 3)
(312, 126, 3)
(312, 208, 3)
(312, 185, 3)
(197, 312, 3)
(286, 312, 3)
(125, 312, 3)
(220, 165, 3)
(170, 170, 3)
(312, 175, 3)
(312, 126, 3)
(191, 312, 3)
(200, 200, 3)
(312, 234, 3)
(312, 173, 3)
(260, 200, 3)
(312, 104, 3)
(312, 182, 3)
(168, 312, 3)
(312, 312, 3)
(312, 172, 3)
(144, 312, 3)
(312, 132, 3)
(312, 169, 3)
(312, 201, 3)
(312, 154, 3)
(312, 164, 3)
(312, 245, 3)
(312, 155, 3)
(312, 253, 3)
(172, 312, 3)
(312, 281, 3)
(312, 165, 3)
(312, 189, 3)
(312, 174, 3)
(220, 157, 3)
(312, 140, 3)
(200, 200, 3)
(255, 312, 3)
(312, 142, 3)
(312, 178, 3)
(312, 154, 3)
(312, 155, 3)
(312, 227, 3)
(312, 138, 3)
(312, 162, 3)
(120, 312, 3)
(312, 117, 3)
(173, 312, 3)
(312, 154, 3)
(241, 312, 3)
(136, 312, 3)
(312, 158, 3)
(222, 312, 3)
(312, 152, 3)
(312, 148, 3)
(312, 168, 3)
(312, 158, 3)
(312, 147, 3)
(142, 312, 3)
(312, 137, 3)
(312, 154, 3)
(312, 142, 3)
(182, 312, 3)
(312, 152, 3)
(312, 234, 3)
(220, 169, 3)
(202, 312, 3)
(200, 200, 3)
(256, 192, 3)
(312, 162, 3)
(312, 179, 3)
(187, 312, 3)
(312, 127, 3)
(312, 104, 3)
(312, 197, 3)
(312, 151, 3)
(260, 200, 3)
(312, 170, 3)
(312, 173, 3)
(312, 265, 3)
(312, 265, 3)
(312, 181, 3)
(221, 312, 3)
(312, 143, 3)
(183, 312, 3)
(312, 119, 3)
(220, 169, 3)
(312, 131, 3)
(260, 200, 3)
(312, 174, 3)
(501, 385, 3)
(149, 312, 3)
(136, 312, 3)
(312, 130, 3)
(312, 206, 3)
(312, 129, 3)
(179, 312, 3)
(227, 312, 3)
(191, 312, 3)
(141, 312, 3)
(122, 312, 3)
(501, 385, 3)
(255, 312, 3)
(312, 239, 3)
(166, 312, 3)
(312, 231, 3)
(312, 123, 3)
(119, 312, 3)
(312, 195, 3)
(159, 312, 3)
(279, 312, 3)
(312, 234, 3)
(312, 127, 3)
(139, 312, 3)
(260, 200, 3)
(260, 200, 3)
(200, 200, 3)
(312, 123, 3)
(159, 312, 3)
(312, 145, 3)
(260, 200, 3)
(312, 245, 3)
(312, 167, 3)
(312, 142, 3)
(187, 312, 3)
(200, 200, 3)
(312, 271, 3)
(312, 181, 3)
(312, 136, 3)
(131, 312, 3)
(312, 312, 3)
(312, 152, 3)
(312, 181, 3)
(312, 207, 3)
(312, 131, 3)
(312, 245, 3)
(312, 140, 3)
(312, 293, 3)
(312, 193, 3)
(312, 118, 3)
(312, 137, 3)
(312, 169, 3)
(170, 170, 3)
(312, 213, 3)
(191, 312, 3)
(312, 182, 3)
(312, 177, 3)
(1080, 776, 3)
(312, 208, 3)
(312, 225, 3)
(232, 312, 3)
(234, 312, 3)
(312, 196, 3)
(312, 287, 3)
(174, 312, 3)
(312, 172, 3)
(312, 133, 3)
(312, 312, 3)
(312, 164, 3)
(312, 245, 3)
(312, 161, 3)
(260, 200, 3)
(312, 164, 3)
(312, 160, 3)
(312, 216, 3)
(260, 200, 3)
(200, 200, 3)
(260, 200, 3)
(312, 158, 3)
(312, 149, 3)
(187, 312, 3)
(312, 245, 3)
(184, 312, 3)
(312, 164, 3)
(312, 163, 3)
(312, 248, 3)
(312, 154, 3)
(305, 312, 3)
(312, 175, 3)
(312, 206, 3)
(312, 213, 3)
(260, 200, 3)
(312, 156, 3)
(312, 147, 3)
(312, 111, 3)
(312, 179, 3)
(312, 119, 3)
(312, 163, 3)
(312, 145, 3)
(312, 106, 3)
(260, 200, 3)
(312, 167, 3)
(312, 205, 3)
(312, 176, 3)
(312, 147, 3)
(209, 312, 3)
(203, 312, 3)
(200, 200, 3)
(312, 158, 3)
(312, 234, 3)
(180, 312, 3)
(312, 216, 3)
(312, 168, 3)
(170, 170, 3)
(312, 143, 3)
(312, 164, 3)
(312, 163, 3)
(312, 236, 3)
(167, 312, 3)
(500, 500, 3)
(501, 385, 3)
(191, 312, 3)
(312, 165, 3)
(245, 312, 3)
(194, 312, 3)
(293, 312, 3)
(188, 312, 3)
(312, 216, 3)
(312, 161, 3)
(312, 147, 3)
(312, 182, 3)
(500, 500, 3)
(200, 200, 3)
(312, 208, 3)
(312, 197, 3)
(312, 157, 3)
(312, 154, 3)
(312, 245, 3)
(312, 172, 3)

In [66]:
cv2.imshow('', img)

cv2.waitKey(0)

-1